/* For Tab */

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {}

/* For Mobile Size */

@media only screen and (max-width: 749px) {
  section {
    padding: 50px 20px;
  }

  #home-banner-video img {
    height: 250px;
    width: 100%;
  }

  #home .home-content .home-img img {
    transform: translateX(0px);
    height: 320px;
  }

  #home .home-content {
    flex-direction: column-reverse;
    background-image: url(../assets/images/franchise/rightside.png);
    background-size: 600px;
    background-position-x: 0;
  }

  .cards2 {
    display: none;
  }

  .cards-img img {
    width: 180px;
    height: 180px;
  }

  .cards3 {
    transform: translateY(-80px);
    margin: 0 10px;
  }

  .home-service-cards {

    align-items: center;
    height: 100%;
    background-position-x: 0px;
    background-position-y: -30px;
  }

  .service-title h1 {
    font-size: 54px;
    text-align: center;
  }

  #home-services {
    height: 60vh;
  }

  .moimg {
    display: none;
  }

  .img-grid img {
    height: 400px;
    width: 100%;
  }


  #franchise {
    min-height: 100vh;
    background-size: 350px;

    background-position-y: 100px;
  }

  /* Kashiff Khan Responsive */
  .d-fle {
    flex-direction: column;
    align-items: center;
  }

  .title h1 {
    font-family: "Gotham-Medium";
    font-size: 38px;
  }

  .kf-content h1,
  .ma-content h1 {
    font-family: "Gotham-Medium";
    font-size: 34px;
    margin: 20px 0;
  }

  .kf-image img,
  .ma-image img {
    height: 380px;
  }

  .kf-more-content ::after,
  .ma-more-content ::after {
    content: "";
    height: 250px;
    width: 340px;
    top: 0%;
  }

  .kf-more-content,
  .ma-more-content {
    padding: 10px 0;
  }

  .title::after {
    height: 100px;
    width: 350px;
    margin-left: 0;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }

  .kf-more-content p,
  .ma-more-content p {
    letter-spacing: 0.2px;
    width: 100%;
  }

  .kf-bg-content p {
    width: 100%;
  }

  .kashiff-features {
    display: grid;
    grid-template-columns: 1fr;
  }

  /* Shows Responsive */
  .intro-cards video {
    height: 360px;
    width: 100%;
  }

  .video-source video {
    width: 100%;
  }

  #shows-introduction-feature,
  #specification .spec-table {
    display: none;
  }

  #mobile-shows-introduction-feature,
  #specification .mobile-table {
    display: block;
  }

  .sh-bg-content p {
    text-align: center;
    padding: 20px 0;
  }

  /* Philosophy CSS Started */
  #introduction .cards-content p {
    padding: 40px 0;
    padding-right: 0;
  }

  #introduction .intro-cards img,
  #potential .potet img {
    height: 350px;
    position: relative;
    z-index: 3;
  }

  #potential .potet::after {
    top: 8%;
  }

  .philosophy .card-title h1 {
    font-size: 45px;
  }

  .philosophy-features {
    flex-direction: column;
  }

  .ftv-logo img {
    height: 200px;
    display: none;
  }

  #introduction .cards-title h1 {
    font-weight: 600;
    font-size: 33px;
  }

  #introduction {
    background-size: 350px;
    background-position-y: 50px;
  }

  #potential .cards-title h1 {
    font-weight: 600;
    margin-top: 80px;
  }

  .intro-cards {
    padding: 10px 0;
  }

  .philosophy {
    padding: 0;
  }

  .ftv-intro-feature .cardsimage img {
    height: 100%;
    width: 340px;
  }

  .ftv-intro-feature .cards {
    padding: 50px 0;
  }

  .ftv-intro-feature .cardsimage2 img {
    height: 100%;
    width: 340px;
  }

  .ftv-intro-feature .cards-title h1 {
    font-size: 34px;
    margin-top: 60px;
  }

  .logo-image {
    width: 200px;
  }

  /* FTV SERVICE CSS */
  #intro-service .serv-content p {
    width: 100%;
  }

  #intro-service .service-content {
    flex-direction: column-reverse;
  }

  .f-logo-ser img {
    height: 50px;
  }

  #intro-service .gel-mani p {
    text-align: center;
    padding: 20px 0;
  }

  .cardsimage::after {
    top: 45%;
    right: 3%;

  }

  .midlogo img {
    height: 150px;
    margin: 30px 0;
  }

  .footer-content input {

    padding: 4px 30px;
  }

  .footer-content ul li a {
    text-decoration: none;
    font-size: 14px;
  }

  .footer-content ul li {
    padding: 30px 5px;
  }

  .footer-content span {
    padding-top: 30px;
  }

  .cards3::after {
    content: "";
    height: 150px;
    width: 150px;
    right: -15%;
    top: -15%;
  }

  .cards1::after {
    right: 25%;
    top: 45%;
  }

  .nav_content li {
    font-size: 30px;
  }

  .nav_content {
    width: 350px;
    position: fixed;
  }

  .main-footer h2 {

    font-size: 28px;
    text-align: center;
  }

  .footer-content button {
    padding: 10px 15px;
    margin-left: 10px;
  }

  .main-footer {
    padding: 30px 10px;
    flex-direction: column;
    align-items: center;
  }

  .footer-logo {
    padding: 10px 80px;
  }

  .footer-content ul {
    margin-left: 0px;
    justify-content: center;
  }

  .logo1 {
    display: flex;
  }

  .footer-logo li {
    margin: 10px 30px;

  }
}

/* For Galaxy Fold */

@media(max-width: 320px) {
  #home .home-content .home-img img {
    height: 220px;
}
.img-grid img {
  height: 280px;
  width: 100%;
}
.frach-title h1 {
  text-align: center;
  font-size: 38px;
}
section {
  padding: 20px 15px;
}
.cards-img img {
  width: 130px;
  height: 130px;
}
.cards3::after {
  content: "";
  height: 150px;
  width: 150px;
  right: -15%;
  top: -15%;
  display: none;
}
.cards1::after {
  right: 45%;
  top: 25%;
}
.footer-logo {
  padding: 10px 20px;
}
#home .home-content {

  padding-top: 120px;
}

.logo {

  left: 0px;
}
.kf-image img, .ma-image img {
  height: 280px;
}
.kf-more-content ::after, .ma-more-content ::after {
  content: "";
  height: 250px;
  width: 100%;
}
.title::after {
  height: 100px;
  width: 100%;
}
.title h1 {
  font-size: 28px;
}
#sh-background{
  padding-top: 150px;

}
.intro-cards video {
  height: 280px;
  width: 100%;
}
#shows-introduction-feature .cards-title h1, #mobile-shows-introduction-feature h1 {
  padding: 20px 0;
  font-size: 30px;
}

#shows-introduction-feature .cards-content p, #mobile-shows-introduction-feature p {
  padding: 20px 10px;
}
.ftv-intro-feature .cardsimage img {
  height: 100%;
  width: 270px;
}
.ftv-intro-feature .cardsimage2 img {
  height: 100%;
  width: 270px;
}
.ftv-intro-feature .cards-title h1 {
  font-size: 28px;
}
#introduction .cards-title h1 {
  font-weight: 600;
  font-size: 30px;
}

#introduction .intro-cards img, #potential .potet img {
  height: 260px;


}

#introduction .intro-cards::after {
  content: "";
  height: 240px;
  width: 100%;
  right: 25%;
  top: 65%;
}
#potential .potet::after {
  content: "";
  height: 180px;
  width: 180px;
  right: -11%;
}
.philosophy .card-title h1 {
  font-size: 32px;
}
.philosophy-features .philo-cards {
  width: 100%;
  text-align: center;
}
.philosophy-features .philo-cards p {
  padding: 0 10px;
}
.f-logo-ser img {
  height: 30px;
}
.serv-content h1{
  font-size: 30px;
}

h1{
  font-size: 30px;
}
}