@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,500&display=swap");

@font-face {
  font-family: "Baloo";
  src: url("../assets/fonts/Baloo-Regular.woff2") format("woff2"),
    url("../fonts/Baloo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Ultra";
  src: url("../assets/fonts/GothamUltra.woff2") format("woff2"),
    url("../fonts/GothamUltra.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gotham-bold";
  src: url("../assets/fonts/GothamBold.woff2") format("woff2"),
    url("../fonts/GothamBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gotham-Medium";
  src: url("../assets/fonts/Gotham-Medium.woff2") format("woff2"),
    url("../fonts/Gotham-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham-Light";
  src: url("../assets/fonts/Gotham-Light.woff2") format("woff2"),
    url("../fonts/Gotham-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  line-height: 1.8em;
  font-family: "Montserrat", sans-serif;
  background-color: #282829;
}

section {
  padding: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #ffffff;
}

p {
  color: #ffffff;
  text-align: justify;
  font-size: 16px;
}

/* Navbar CSS */

.navbar-brand {
  height: 100px;
}

.navbar {
  padding: 0.5rem 2rem;
  background-color: transparent;
}

.nav-link {
  color: #ffffff;
  font-family: "Gotham-Light";
  font-size: 18px;
}

/* Home Page CSS */

.container-fluid {
  position: relative;
  z-index: 0;
  padding: 0 !important;
}

.logo {
  position: absolute;
  z-index: 3;
  left: 50px;
}

.logo img {
  position: fixed;
  width: 150px;
}

.video-box video {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

#home {
  background-color: #282829;
  background-image: url("../assets/images/home/nailbaclground.png");
  background-repeat: no-repeat;
  background-position-x: 240px;
  background-size: 500px;
}

#home .home-content {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  background-image: url("../assets/images/franchise/rightside.png");
  background-size: 800px;
  background-repeat: no-repeat;
  position: relative;
  background-position-x: 300px;
}

#home .home-content .home-title img {
  height: 35px;
}

#home .home-content .home-title p {
  color: #ded9cc;
  margin: 20px;
}

#home .home-content .home-img img {
  height: 350px;
  transform: translateX(-100px);
  position: relative;
}

#home-banner-video {
  display: flex;
  align-items: center;
  justify-content: center;
}

#home-banner-video img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.service-title h1 {
  font-size: 54px;
}

#home-services {
  height: 120vh;
}
.home-service-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url("../assets/images/leftside.png");
  background-size: 750px;
  background-repeat: no-repeat;
  position: relative;
}

.cards1 {
  transform: translateY(-80px);
}

.cards3 {
  transform: translateY(-200px);
}

.cards1::after {
  content: "";
  height: 150px;
  width: 150px;
  right: 3%;
  top: 55%;
  position: absolute;
  border: 5px solid #e2c67f;
  z-index: 1;
}

.cards3::after {
  content: "";
  height: 150px;
  width: 150px;
  right: -10%;
  top: 55%;
  position: absolute;
  border: 5px solid #e2c67f;
  z-index: 1;
}
.cards-img img {
  width: 300px;
  height: 250px;
  z-index: 4;
  position: relative;
}

.cards1 img {
  z-index: 5;
  position: relative;
}

.cards3 img {
  z-index: 6;
  position: relative;
}

/* Home Frachise Section */

.frach-title h1 {
  font-size: 54px;
  float: right;
}

#franchise {
  min-height: 130vh;
  display: grid;
  background-image: url("../assets/images/home/franchisenail.png");
  background-size: 450px;
  background-repeat: no-repeat;
  position: relative;
  background-position-y: -10px;
}


.franchise-img-grid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-grid img{
  height: 500px;
  width: 100%;
}


.img-up{
  transform: translateY(-60px);
}

/* Kashiff Khan Section Started */

#kasiff-home {
  background-color: #282829;
}

.d-fle {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.kf-image {
  z-index: 2;
}

.kf-image img {
  height: 550px;
}

.kf-content h1 {
  font-family: "Gotham-Medium";
  font-size: 64px;
}

.kf-more-content {
  padding: 50px 0;
  margin: 20px 0;
}

.kf-more-content ::after {
  content: "";
  height: 320px;
  width: 1100px;
  left: 10px;
  top: 35%;
  position: absolute;
  border: 2px solid #e2c67f;
  z-index: 1;
}

.kf-more-content h4 {
  font-size: 20px;
}

.kf-more-content p {
  letter-spacing: 0.2px;
  width: 250px;
  color: #ffffff;
  font-family: "Gotham-Light";
}

.title {
  position: relative;
}

.title h1 {
  font-family: "Gotham-Medium";
  font-size: 54px;
  background: -webkit-linear-gradient(#e2c67f, #897254);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title::after {
  content: "";
  height: 120px;
  width: 1130px;
  left: 10px;
  top: -40%;
  position: absolute;
  border: 2px solid #e2c67f;
  z-index: 1;
}

.padding-topbt {
  padding: 50px 0;
}

.kf-bg-content {
  display: grid;
  place-items: center;
}

.kf-bg-content p {
  width: 600px;
  display: flex;
}

.kashiff-features {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.features-cards {
  padding: 20px;
}

.kashiff-features h3 {
  font-size: 18px;
  color: #ffffff;
}

/*todo Michel Adam Section Started */

.ma-image {
  z-index: 2;
}

.ma-image img {
  height: 550px;
}

.ma-content h1 {
  font-family: "Gotham-Medium";
  font-size: 64px;
}

.ma-more-content {
  padding: 50px 0;
  margin: 20px 0;
}

.ma-more-content ::after {
  content: "";
  height: 340px;
  width: 1100px;
  left: 10px;
  top: 35%;
  position: absolute;
  border: 2px solid #e2c67f;
  z-index: 1;
}

.ma-more-content h4 {
  font-size: 20px;
}

.ma-more-content p {
  letter-spacing: 0.2px;
  width: 400px;
  color: #ffffff;
  font-family: "Gotham-Light";
}

.ma-bg-content p {
  text-align: center;
}

/* Shows CSS Started */

#sh-background h5 {
  margin-top: 50px;
}

.sh-bg-content p {
  text-align: center;
  padding: 20px;
}

.intro-cards {
  padding: 20px;
}

.intro-cards video {
  height: 380px;
}

#shows-introducation .intro-content p {
  padding: 20px 180px;
}

#shows-introduction-feature .cards-title h1,
#mobile-shows-introduction-feature h1 {
  padding: 20px 0;
}

#shows-introduction-feature .cards-content p,
#mobile-shows-introduction-feature p {
  font-size: 16px;
  font-weight: 300;
  padding: 20px 0;
}

#mobile-shows-introduction-feature {
  display: none;
}

/* Philosophy Section Started */

#introduction {
  background-image: url("../assets/images/leftside.png");
  background-size: 650px;
  background-repeat: no-repeat;
  position: relative;
}

#introduction .intro-cards img {
  height: 450px;
  position: relative;
  z-index: 3;
}

#introduction .cards-title h1 {
  background: -webkit-linear-gradient(#e2c67f, #897254);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position-x: 40px;
  font-weight: 600;
}

#introduction .cards-content p {
  padding: 40px 0;
  padding-right: 150px;
}

#introduction .intro-cards::after {
  content: "";
  height: 240px;
  width: 250px;
  right: 25%;
  top: 55%;
  position: absolute;
  border: 3px solid #e2c67f;
  z-index: 1;
}

/* Potential Section Started */

#potential {
  background-image: url("../assets/images/franchise/rightside.png");
  background-size: 900px;
  background-repeat: no-repeat;
  position: relative;
  background-position-y: 130px;
  background-position-x: 100%;
}

#potential .potet img {
  height: 450px;
  position: relative;
  z-index: 3;
}

#potential .cards-title h1 {
  background: -webkit-linear-gradient(#e2c67f, #897254);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position-x: 40px;
  font-weight: 600;
}

#potential .cards-content p {
  padding: 40px 0;
}

#potential .potet::after {
  content: "";
  height: 240px;
  width: 250px;
  left: 25%;
  top: 30%;
  position: absolute;
  border: 3px solid #e2c67f;
  z-index: 1;
}

.philosophy {
  padding: 80px 0;
}

.philosophy .card-title h1 {
  font-size: 55px;
  background: -webkit-linear-gradient(#e2c67f, #897254);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.philosophy-features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.philosophy-features .philo-cards {
  width: 400px;
  text-align: center;
}

.philosophy-features .philo-cards h3 {
  font-size: 18px;
  padding: 10px 0;
}

.philosophy-features .philo-cards p {
  letter-spacing: 0.2px;
  color: #ffffff;
  font-family: "Gotham-Light";
  font-size: 14px;
  padding: 0 20px;
}

/* FTV CSS STARTED */

.ftv-intro-feature .cards {
  padding: 70px 40px;
}

.ftv-intro-feature .cardsimage img {
  height: 450px;
  background-size: contain;
  width: 400px;
  position: relative;
  z-index: 6;
}

.ftv-intro-feature .cardsimage2 img {
  height: 450px;
  background-size: contain;
  width: 400px;
  position: relative;
  z-index: 4;
}

.ftv-intro-feature .cards-title h1 {
  font-size: 48px;
  letter-spacing: 2px;
  font-family: "Gotham-Medium";
}

.ftv-intro-feature .cards-content ul li {
  font-size: 16px;
  font-weight: 300;
  list-style: none;
  margin: 10px 0;
  font-family: "Gotham-Light";
  color: #ffffff;
}

.right-imgs {
  background-image: url("../assets/images/franchise/rightside.png");
  background-size: 650px;
  background-repeat: no-repeat;
  position: relative;
  background-position-x: 100%;
}

.left-imgs {
  background-image: url("../assets/images/leftside.png");
  background-size: 650px;
  background-repeat: no-repeat;
  position: relative;
  background-position-x: 20%;
}
.cardsimage::after {
  content: "";
  height: 150px;
  width: 150px;
  right: -3%;
  top: 75%;
  position: absolute;
  border: 5px solid #e2c67f;
  z-index: 2;
}
.cardsimage2::after {
  content: "";
  height: 150px;
  width: 150px;
  left: -3%;
  top: 50%;
  position: absolute;
  border: 5px solid #e2c67f;
  z-index: 1;
}

#ftv-feature {
  background-image: url("../assets/images/leftside.png");
  background-size: 950px;
  background-repeat: no-repeat;
  position: relative;
  background-position-y: 550px;
}

/* FTV SERVICE CSS STARTED */

.f-logo-ser img {
  height: 80px;
  margin: 20px 0;
}

#intro-service {
  background-image: url("../assets/images/franchise/rightside.png");
  background-size: 900px;
  background-repeat: no-repeat;
  position: relative;
  background-position-x: 250px;
}

#intro-service .service-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#intro-service .serv-logo img {
  height: 200px;
}

#intro-service .serv-content p {
  width: 650px;
}

#intro-service .gel-mani {
  padding-top: 70px;
  padding-bottom: 20px;
}
#intro-service .gel-mani p {
  text-align: center;
  padding: 20px;
}

.f-logo-ser2 img {
  height: 70px;
  margin: 20px 0;
  float: right;
}

.midlogo img {
  margin-top: 70px;
  height: 200px;
}

/*todo Footer Section Started */

.main-footer {
  padding: 40px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ftv-logo img {
  height: 200px;
}

.main-footer ul {
  list-style: none;
}

.main-footer h1 {
  font-size: 22px;
  line-height: 117%;
  color: #ffffff;
  margin-bottom: 10px;
  font-weight: 500;
}

.main-footer h2 {
  color: #ffffff;
  font-weight: 500;
}

.footer-content ul {
  display: flex;
  list-style: none;
  margin-left: -10px;
}

.footer-content input {
  overflow: visible;
  border: 1px solid #fff;
  background: none;
  padding: 4px 40px;
  margin: 10px 0;
}

.footer-content input::placeholder {
  color: #ffffff;
}

.footer-content button {
  border: none;
  padding: 10px 20px;
  background-color: transparent;
  border-left: 1px solid #fff;
  margin-left: 20px;
}

.footer-logo {
  padding: 30px 20px;
  border-radius: 50px;
  background-color: #1a1a1b;
}

.footer-logo li {
  list-style: none;
  margin: 10px 0;
}

.fa {
  font-size: 22px;
  color: #ffffff;
}

.footer-content ul li {
  padding: 30px 12px;
}

.footer-content span {
  padding-top: 30px;
  color: #ffffff;
}

.footer-content ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
}

/* Text Decoration */

h1 {
  background: -webkit-linear-gradient(#e2c67f, #897254);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.navbar_button {
  width: 30px;
  height: 25px;
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: 20;
}

.bar {
  position: absolute;
  width: 100%;
  height: 3px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  background-color: white;
  cursor: pointer;
  display: block;
  margin: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

#bar1 {
  top: 0%;
  left: 0%;
}

#bar1.open {
  -webkit-transform: scaleX(0);
  -webkit-transition: .5s;
  transition: .5s;
}

#bar2 {
  top: calc(50% - 4px);
  -webkit-transform: rotate(0deg);
  -webkit-transition: .5s;
  transition: .5s;
}

#bar2.open {
  -webkit-transform: rotate(45deg);
  -webkit-transition: .5s;
  transition: .5s;
}

#bar2b {
  top: calc(50% - 4px);
  -webkit-transform: rotate(0deg);
  -webkit-transition: .5s;
  transition: .5s;
}

#bar2b.open {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: .5s;
  transition: .5s;
}

#bar3 {
  top: calc(100% - 8px);
  right: 0%;
}

#bar3.open {
  -webkit-transform: scaleX(0);
  -webkit-transition: .5s;
  transition: .5s;
}

.round_nav {
  -webkit-filter: blur(0px);
  width: 6000px;
  height: 6000px;
  transform: scale(0.0080);
  background-color: #e2c67f;
  position: fixed;
  top: 0px;
  right: 0px;
  margin-top: -2950px;
  margin-right: -2945px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: .8s;
  transition: .8s;
  overflow: hidden;
  z-index: 9;
}

.round_nav.open {
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
}

.nav_content {
  display: none;
  position: fixed;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding-left: 20px;
  margin: 0px;
  width: 500px;
  height: 500px;
  z-index: 11;
}

.nav_content li {
  position: relative;
  color: White;
  margin-bottom: 5px;
  font-size: 38px;
  font-weight: 300;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
  cursor: pointer;
  text-align: center;
  padding: 15px;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav_content li a {
  text-decoration: none;
  color: #ffffff;
}

.nav_content li:hover {
  -webkit-transform: translateX(4%);
  transform: translateX(4%);
}

.navbar_button:hover+.round_nav {
  -webkit-transform: scale(0.011);
  transform: scale(0.011);
}

.round_nav:hover {
  -webkit-transform: scale(0.011);
  transform: scale(0.011);
}

.nav_content ul {
  list-style-type: none;
  margin-left: 10px !important;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  left: 2%;
  top: 0px;
}